/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-size: 13px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6, span {
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-wrap: break-word;
}
p {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, ol, li, table, tr, td, th {
  font-optical-sizing: auto;
}

/* Variables */
:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  background-color: var(--grey-100);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-height: 100vh;
  padding: 2.5rem;
}

.testimonials__article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
}

.testimonials__article--purple {
  background-color: var(--purple-500);
  color: var(--white);
}

.testimonials__article--grey {
  background-color: var(--grey-500);
  color: var(--white);
}

.testimonials__article--white {
  background-color: var(--white);
  color: var(--grey-500);
}

.testimonials__article--blue {
  background-color: var(--dark-blue);
  color: var(--white);
}

.testimonials__header {
  display: grid;
  grid-template: auto / auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

.testimonials__header-image {
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/2;
  height: auto;
  max-width: 3rem;
}

.testimonials__article--purple .testimonials__header-image {
  border: 2px solid var(--purple-300);
}

.testimonials--article-grey .testimonials__header-image {
  border: 2px solid var(--dark-blue);
}

.testimonials__article--white .testimonials__header-image {
  border: 2px solid var(--grey-100);
}

.testimonials__article--blue .testimonials__header-image {
  border: 2px solid var(--purple-500);
}

.testimonials__header-headline {
  align-self: self-start;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1rem;
  font-weight: 500;
}

.testimonials__header-badge {
  align-self: self-end;
  font-size: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: 300;
}

.testimonials__article--white .testimonials__header-badge {
  color: var(--grey-400);
}

.testimonials__header-badge.testimonials__header-badge--black {
  color: var(--black);
}

.testimonials__article--grey .testimonials__header-badge {
  color: var(--grey-200);
}

.testimonials__review {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.testimonials__quote {
  font-size: 1rem;
  font-weight: 400;
}
